.column-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.column-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  height: 100;
  flex: 1;
  justify-content: flex-start;
}

.modal-overlay {
  top: 30%;
  left: 40%;
  width: 500px;
  height: 350px;
  padding: 20px;
  position: absolute;
  background-color: #EDF5E1;
  border-radius: 8px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-overlay__input {
  height: 40px;
  padding: 5px;
}

.modal-overlay__btn-change, .modal-overlay__btn-close {
  height: 40px;
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: #5CDB95;
  &:hover {
    cursor: pointer;
    background-color: #379683;
    color: white;
    transition: 0.5s ease;
  }
}

.cards {
  min-height: 50px;
  background-color: white;
  border-radius: 8px;
  margin: 5px;
  &:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    transition: 0.5s ease;
  }
}

.title {
  min-width: 200px;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #05386B;
  font-family: Ubuntu;
  border-radius: 8px;
}

.title__close, .title__edit {
  padding: 5px;
  width: 40px;
  margin: 5px;
  text-decoration: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.title__close {
  background-color: rgb(250, 59, 59);
  font-weight: 600;
}

.title__edit {
  background-color: #5CDB95;
  font-weight: 600;
}

.title__column-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.column-component__add-card-btn {
  margin: auto;
  background-color: #EDF5E1;
  border: none;
  padding: 10px;
  margin: 10px;
  width: 50%;
  align-self: center;
  cursor: pointer;
  &:hover {
    background-color: #F8E9A1;
    transition: 0.5s ease;
  }
}

